.wviit { 
  padding-left: 89px;
  border-bottom-width: 99px;
  line-height: 45px;
  padding-bottom: 93px;
  font-size: 6px;
  padding-top: 88px;
  padding-bottom: 26px;
  margin-bottom: 4px;
  border-top-width: 50px;
  margin-left: 77px;
  margin-right: 60px;
  font-size: 84px;
}
